<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>First App</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css"%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
    <h1>Heloo this is HTML    </h1>
    <div class="">


  <h2>Here are your record </h2>
    </div>

  <div class="container">
    {% if access_records %}
    <table>
      <thead>
        <th>Site NAME</th>
        <th>Date AccessRecord</th>
      </thead>

      {% for acc in access_records%}
      <tr>
        <td>{{acc.name}}</td>
        <td>{{acc.date}}</td>
      </tr>
      {% endfor%}

    </table>
  </div>
{%else %}
<p>No sites</p>
{%endif%}
      <img src="{% static "image/inna.jpeg"%}" alt="fuck that">

  </body>
</html>
